main {
  margin: 100;
  margin-bottom: 40px;

}


html {
  background: url(src/assets/logofondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

