<body>
  <p>SERVICIOS</p> <br>
  <section>

    <div class="form-group col-md-3">
      <select  class="form-control" name="servicios" [(ngModel)]="servicio.tipo">
        <option *ngFor="let elemento of tipos" [value]="elemento.id">
        <span>{{ elemento.description }}</span>
        </option>
      </select>
    </div>

  <div class="form-group col-md-3">
    <label >Nombre</label>
    <input type="name" [(ngModel)]="servicio.nombre" class="form-control" id="nombre" placeholder="Nombre">
  </div>
  <div class="form-group col-md-3">
    <label >Precio</label>
    <input type="name" [(ngModel)]="servicio.precio" class="form-control" id="precio" placeholder="En €">
  </div>
  <div class="form-group col-md-3">



    <section *ngIf="servicio.tipo==1">
      <div class="">
        <label for="materialPropio">Material Propio  &nbsp; </label>
        <section class="form-control">
        <input name="materialPropio" value="true" type="radio" [(ngModel)]="servicio.materialPropio" /><i> SI </i>
        <input name="materialPropio" value="false" type="radio" [(ngModel)]="servicio.materialPropio" /><i> NO </i>
      </section>
    </div>
     <app-jardineria></app-jardineria>
    </section>

      <section *ngIf="servicio.tipo==2">
        <app-geriatria></app-geriatria>
      </section>
  </div>
  </section>

  <section #botones>
    <button type="reset" class="btn ">Borrar </button>&nbsp;
    <button type="submit" class="btn btn-primary"> Aceptar</button>
  </section>
  <br>


  <pre>{{ servicio | json }}</pre>
