
<header>
<a routerLink="ver" class="button">Ver Empleados</a>
<a routerLink="nuevo" class="button">Añadir nuevo Empleado</a>
</header>
<body>

<router-outlet></router-outlet>


<div class="row">
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">NOMBRE</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">APELLIDOS</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">CIUDAD</div>
  <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">SERVICIOS</div>
</div>

<div *ngFor="let empleado of empleados">
  <app-empleado-item [empleado]="empleado" (empleadoSeleccionado)="verDatos($event)"></app-empleado-item>
</div>



<!-- Modal -->
<div class="modal fade" id="modalEmpleado" tabindex="-1" role="dialog" aria-labelledby="datosEmpleado"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datosEmpleado">Datos Completos Empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-empleado [empleado]='empleadoVerDatos' (empleadoEliminar)='onEmpleadoEliminar($event)'></app-empleado>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</body>
