<!--Incluto los datos de la página inicial-->

<main>
  <!--Para que vallan los componentes dinamicos ponco esto-->

  <section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
          <div class="img"><img class="d-block w-100" src="assets/casaJardin/casaJArdin.jpg" alt="First slide"></div>
          <div class="carousel-caption d-none d-md-block">
            <h1><b>NOS PREOCUPAMOS POR TÍ</b></h1>
            <p><b>La labor fundamental de SERVICASA es ofrecerte servicios que te hagan la vida más sencilla</b></p>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="img"><img class="d-block w-100" src="assets/abuelos1.jpg" alt="Second slide"></div>
          <div class="carousel-caption d-none d-md-block">
            <h1><b> CUIDADO DE MAYORES</b></h1>
            <p><b>Ofrecemos ayuda en aquellos momentos de la vida en los que necesitamos más atención</b></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="img"><img class="d-block w-100" src="assets/jardin1.jpg" alt="Third slide"></div>
          <div class="carousel-caption d-none d-md-block" id="jardin">
            <h1><b>JARDINERÍA</b></h1>
            <p><b>¿Quieres que tu jardín sea la envidia de tus vecinos, pero no puedes dedicarle el tiempo que te gustaría?</b></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>
</main>
