
<div>
<div id="todo" *ngFor="let ser of servicios">
  <br>
  <div id="nombre">
   <b> {{ ser.nombre}} </b>
  </div>


  <div *ngIf="ser.tipo == 1">
  <div id="nombre" (click)="obtenerMaterial(ser)" >Uso material propio:
    <span *ngIf="ser.materialPropio"><b> SI </b></span>
    <span *ngIf="!ser.materialPropio"><b> NO </b></span>
   <!--  <div ngIf="ser.materialPropio == 0">
      <div>No</div>

    </div>
    <div *ngIf="ser.materialPropio == 1">
      Si
          </div>-->
  </div>

  <div id="precio" >
    <b>  {{ser.precioBase}}</b><b>€</b>
  </div>

</div>

<div *ngIf="ser.tipo == 2 ">
  <div id="nombre" >Años de Experiencia:
    <b>  {{ser.anosExperiencia}} </b>
  </div>
  <div id="nombre" >Titulación:
    <b>  {{ser.titulacion}}  </b>
  </div>

  <div id="precio" >
    <b>  {{ser.precioBase}}€</b>
  </div>

</div>



  <div>
    <br>
    <div class="row" >
      <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#modalModificar"
      (click)="editarServicio(ser)" class="link">
       &nbsp;<fa-icon class=" fa" [icon]="modificar"></fa-icon>
     </a>


     <a class="btn btn-link"  class="link" type="button" (click)="borrarServicio(ser)"  >
       &nbsp;
       <fa-icon class=" fa" [icon]="trash"></fa-icon>
       &nbsp;
     </a>
     </div>
  </div>
<br>
</div>
</div>

