
<router-outlet></router-outlet>
<header>
  <a routerLink="/servicios" class="button">Ver Servicios</a>
  <a routerLink="/servicios/servicios-form" class="button">Añadir nuevo Servicio</a>
  </header>
  <body>
<router-outlet></router-outlet>
<br><br><br>
<div id='caja' class="col-md-5" >
  <br><br>
<div class="row ">
  <div class="col-5 col-sm-5 col-md-2 col-lg-3 col-xl-3"><b>SERVICIO</b></div>
  <div class="col-md-3">&nbsp;&nbsp;&nbsp;&nbsp;<b>PRECIO</b></div>
  <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3"></div>
  <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-3"><b>ACCIONES</b></div>
</div>

<div *ngFor="let servicio of todosServicios">
  <app-servicios-item [servicio]="servicio"  (servicioEliminar)="onServicioEliminar($event)"></app-servicios-item>
</div>
</div>

